*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body {
    height: 100%;
    background-image: url(imgs/image.jpg);
    background-size: cover;
    background-color: #6879a0;
}

#reproductor {
    margin-top: 150px;
    margin-left: 30%;
    width: 500px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#tiempo {
    width: 100px;
    height: 40px;
    position: relative;
    font-family: sans-serif;
    font-size: 11px;
    margin-left: auto;
    margin-right: auto;
}
button, img {
    height: 40px;
    width: 40px;
    background-color: rgba(240, 248, 255, 0);
    border: 0px;
}

#progreso{
    
    width: 400px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

#botones{
    width: 350px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}